<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--<bean id="userService3" class="com.wallen.practise.spring.test.factory.BeanFactory3"/>-->

    <!--  实例化工厂  -->
    <!--<bean id="beanFactory2" class="com.wallen.practise.spring.test.factory.BeanFactory2"/>
    <bean id="userService2" factory-bean="beanFactory2" factory-method="getUserService"/>-->


    <!--  静态工厂  -->
    <!--<bean id="userService1" class="com.wallen.practise.spring.test.factory.BeanFactory1" factory-method="getUserService"/>-->

    <bean id="userService" class="com.wallen.practise.spring.test.service.impl.UserServiceImpl">
        <!--<property name="userDao" ref="userDao"/>-->
        <property name="userMapper" ref="userMapper"/>
    </bean>

    <!--<bean id="userDao" class="com.wallen.practise.spring.test.dao.impl.UserDaoImpl"/>-->
    <!--<bean id="myComponentBeanFactoryPostProcessor" class="com.wallen.practise.spring.test.processor.MyComponentBeanFactoryPostProcessor"/>
    <bean id="myBeanPostProcessor" class="com.wallen.practise.spring.test.processor.MyBeanPostProcessor"/>-->

    <!--配置数据源-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/test"/>
        <property name="username" value="root"/>
        <property name="password" value="12345678"/>
    </bean>
    <!--配置sqlsessionfactorybean-->
    <bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <!--配置Mapper包扫描-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.wallen.practise.spring.test.mapper"/>
    </bean>
</beans>