<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--<bean id="userService3" class="com.wallen.practise.spring.test.factory.BeanFactory3"/>-->

    <!--  实例化工厂  -->
    <!--<bean id="beanFactory2" class="com.wallen.practise.spring.test.factory.BeanFactory2"/>
    <bean id="userService2" factory-bean="beanFactory2" factory-method="getUserService"/>-->


    <!--  静态工厂  -->
    <!--<bean id="userService1" class="com.wallen.practise.spring.test.factory.BeanFactory1" factory-method="getUserService"/>-->

    <bean id="userService" class="com.wallen.practise.spring.test.service.impl.UserServiceImpl">
        <property name="userDao" ref="userDao"/>
    </bean>

    <bean id="userDao" class="com.wallen.practise.spring.test.dao.impl.UserDaoImpl"/>
    <!--<bean id="myComponentBeanFactoryPostProcessor" class="com.wallen.practise.spring.test.processor.MyComponentBeanFactoryPostProcessor"/>
    <bean id="myBeanPostProcessor" class="com.wallen.practise.spring.test.processor.MyBeanPostProcessor"/>-->
</beans>