<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="userService" class="com.wallen.practise.spring.test.aop.service.impl.UserServiceImpl"/>
    <bean id="myAdvice" class="com.wallen.practise.spring.test.aop.advice.MyAdvice"/>
    <bean id="mockAopBeanPostProcessor" class="com.wallen.practise.spring.test.aop.MockAopBeanPostProcessor"/>
</beans>